/* ====== Input Form Section ====== */

.input-form-section {
  background-color: rgb(3, 119, 100);
  display: flex;
  flex-direction: column;
  gap: 2.5rem; /* 10 * 0.25rem */
  align-items: center;
  justify-content: center;
  width: 100vw;
  min-height: 100vh;
  color: black;
}

.input-form {
  width: 24rem; /* 96 */
  display: flex;
  flex-direction: column;
  gap: 1.5rem; /* 6 */
  box-shadow: 0 4px 6px rgba(13, 42, 112, 0.75);
  background-color: #60a5fa; /* blue-400 */
  padding: 1.25rem; /* 5 */
  border-radius: 0.375rem;
}

.input-form input,
.input-form select {
  width: 100%;
  padding: 0.5rem 0.5rem;
  border-radius: 0.375rem;
  border: 1px solid #d1d5db;
  font-size: 1rem;
}

.input-form input::placeholder {
  color: #444;
}

.input-form select {
  cursor: pointer;
}

.form-title {
  width: 100%;
  color: white;
  font-size: 1.5rem;
  font-weight: 700;
  text-transform: uppercase;
  text-align: center;
  margin-bottom: 0.5rem;
}

.form-title-bold {
  background-color: #c2410c;
  padding: 0.5rem 0.5rem 0.25rem 0.5rem;
  box-shadow: 0 4px 6px rgba(167, 50, 0, 0.75);
  margin-bottom: 0.5rem;
  display: inline-block;
}

.input-form button[type="submit"] {
  width: fit-content;
  padding: 0.5rem 1.25rem;
  margin: 0 auto;
  background-color: #a855f7;
  color: white;
  border-radius: 0.375rem;
  cursor: pointer;
  border: none;
  font-weight: 600;
}

.input-form button[type="submit"]:hover {
  background-color: #9333ea;
}

.input-form button[type="button"] {
  padding: 0.5rem 1.5rem;
  background-color: #b91c1c;
  color: white;
  border-radius: 0.375rem;
  cursor: pointer;
  border: none;
  margin-top: 0.5rem;
}

.toggle-level-on,
.toggle-level-off {
  margin-right: auto;
  padding: 0.5rem 1.25rem;
  cursor: pointer;
  color: white;
  user-select: none;
  font-weight: 600;
  border-radius: 0.375rem;
  width: fit-content;
}

.toggle-level-on {
  background-color: #22c55e;
}

.toggle-level-off {
  background-color: #064e3b;
}

/* ====== Certificate View Wrapper ====== */

.certificate-wrapper {
  width: 100vw;
  height: 100vh;
  padding: 1.25rem;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #f3f4f6;
  position: relative;
  flex-direction: column;
  gap: 1rem;
}

/* Download PDF Button */

.download-btn {
  position: absolute;
  top: 7.5rem;
  right: 1.25rem;
  z-index: 50;
  background-color: #16a34a;
  color: white;
  padding: 0.5rem 1.25rem;
  border-radius: 0.375rem;
  box-shadow: 0 10px 15px -3px rgba(22, 163, 74, 0.7);
  cursor: pointer;
  border: none;
  transition: background-color 0.3s ease;
}


.download-btn:hover {
  background-color: #15803d;
}

/* Font size input */

.font-size-input {
  position: absolute;
  top: 2.5rem;
  left: 50%;
  transform: translateX(-50%);
  color: black;
  padding: 0.25rem 0.75rem;
  border-radius: 0.375rem;
  border: 1px solid #000;
  width: auto;
  font-size: 1rem;
}

/* Back Button */

.back-btn {
  position: absolute;
  top: 7.5rem;
  left: 1.25rem;
  z-index: 50;
  background-color: #16a34a;
  color: white;
  padding: 0.5rem 1.25rem;
  border-radius: 0.375rem;
  box-shadow: 0 10px 15px -3px rgba(22, 163, 74, 0.7);
  cursor: pointer;
  border: none;
  transition: background-color 0.3s ease;
}

.back-btn:hover {
  background-color: #15803d;
}

/* Certificate container */
.certificate-template{
    width:300px;
    height:500px;
    margin:auto;
    background-position: center;
    background-size:cover;
    margin:20px auto;
}
.certificate {
  width: 300px;
  height: 425px;
  margin-top: 1.25rem;
  background-color: white;
  box-shadow: 0 10px 15px rgba(0, 0, 0, 0.25);
  padding: 2.5rem;
  position: relative;
  background-size: cover !important;
  background-position: center !important;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
.certificate-name{
    position:absolute; 
    top:62%;
    /* background-color: green; */
    left:50%;
    transform:translate(-50%);
}

/* Position number */

.position-number {
  position: absolute;
  top: 500px;
  left: 2px;
  font-weight: 700;
  font-size: 3rem;
  color: #b91c1c;
  width: 100%;
  text-align: center;
}

/* Member name and surname */

.member-name-surname {
  position: absolute;
  top: 230px;
  left: -10%;
  text-transform: uppercase;
  color: #831843;
  font-weight: 700;
  width: 24rem;
  text-align: center;
  font-family: serif;
  font-size: 1.25rem;
}

/* Spacer for empty h1 */

.spacer {
  text-align: center;
  margin-top: 3rem;
  font-size: 1.25rem;
  color: black;
  font-family: serif;
}

/* Month display */

.month-display {
  /* margin-left: -130px; */
  font-size: 10px;
  font-weight: 700;
  text-align: center;
  margin-top: 225px;
  font-family: serif;
  color: black;
}

/* Subject display */

.subject-display {
  margin-left: 85px;
  margin-top: -15px;
  font-size: 8px;
  font-weight: 700;
  color: black;
  font-family: serif;
}

/* Score display */

.score-display {
  margin-left: 115px;
  margin-top: 0px;
  font-size: 8px;
  font-weight: 700;
  color: black;
  font-family: serif;
}

/* Grade display */

.grade-display {
  position: absolute;
  top: 265px;
  left: 50px;
  font-weight: 700;
  font-size: 10px;
  text-align: center;
  width: 100%;
  font-family: serif;
  color: black;
}
