@import "tailwindcss";
body{
  padding:0 30px;
  min-width:100vw;
  min-height:100vh;
}

@media only screen and (max-width: 600px) {
 body{
  padding:0;
 }
}
footer>div>div{
  padding: 15px;

}

footer>div>div:hover{
  background: blue;
  box-shadow: 1px -1px 13px 9px gray !important;
  border-radius: 10px;
  color:white;
  
}